server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shiftapp
    username: postgres
    password: 12qwasZX
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: false

logging:
  level:
    org.hibernate.SQL: debug

app:
  jwt:
    secret: "CHANGE_ME_TO_LONG_RANDOM_SECRET_32+_CHARS_MINIMUM"
    access-token-minutes: 120
